<!DOCTYPE html>
<html lang="en">
@model MazeDrawViewModel

@section Head{
<link rel="stylesheet" href="~/css/maze.css" asp-append-version="true">
<script src="~/js/sendRequest.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/labirint.js"></script>
}
<body id="top">
    <div class="drawer">
    </div>
</body>
</html>
