<!DOCTYPE html>
<html lang="en">

@section Head{
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
}
<h1 class='shopText'>Game Over</h1>
<h4 class='shopText'>Would you like to try again?</h4>
<div class ="Choice1">
    <form asp-action="StartGame" asp-controller="Maze" asp-antiforgery="true">
        <div>
            <div>
                <input type="submit" value="Yes" />
            </div>
        </div>
    </form>

    <form asp-action="Index" asp-controller="Home" asp-antiforgery="true">
        <div>
            <div>
                <input type="submit" value="No" />
            </div>
        </div>
    </form>
</div>
