<!DOCTYPE html>
<html lang="en">

@section Head{
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
}
<h1 class='shopText'>Game Over</h1>
<h4 class='shopText'>Would you like to try again?</h4>
<div class="Choice1">
    <div>
        <ul>
            <li class="one_quarter"><a class="paginator-button" href="/Home/Index">No</a></li>
        </ul>
    </div><div>
        <ul>
            <li class="one_quarter"><a class="paginator-button" href="/Maze/StartGame">Yes</a></li>
        </ul>
    </div>
</div>
