<!DOCTYPE html>
<html lang="en">

@section Head{
<link rel="stylesheet" href="~/css/maze.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
<script src="~/js/heroIndicators.js"></script>
<script src="~/js/miracleShop.js"></script>
}
<body id="top">
    <div class="Choice">
        <div>
            <ul>
                <li class="one_quarter"><h5>Potion treatment costs 50 silver</h5></li>
            </ul>
            <ul>
                <li class="one_quarter"><a class="paginator-button" href="/Maze/AddNewItems?Name=PotionTreatment">I want to buy potion treatment</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li class="one_quarter"><h5>InvisibilityCap costs 60 silver</h5></li>
            </ul>

            <ul>
                <li class="one_quarter"><a class="paginator-button" href="/Maze/AddNewItems?Name=InvisibilityCap">I want to buy invisibilityCap</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li class="one_quarter"><h5>GiganHammer costs 70 silver</h5></li>
            </ul>

            <ul>
                <li class="one_quarter"><a class="paginator-button" href="/Maze/AddNewItems?Name=GiganHammer">I want to buy giganHammer</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li class="one_quarter"><h5>JumperBoots costs 100 silver</h5></li>
            </ul>

            <ul>
                <li class="one_quarter"><a class="paginator-button" href="/Maze/AddNewItems?Name=JumperBoots">I want to buy JumperBoots</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li class="one_quarter"><h5>I teleport you to a new place and enjoy being alive.</h5></li>
            </ul>

            <ul>
                <li class="one_quarter"><a class="paginator-button" href="/Maze/DrawJs">Сontinue the journey</a></li>
            </ul>
        </div>

    </div>
    <div class="heroIndicators">
    </div>
</body>
</html>
