<!DOCTYPE html>
<html lang="en">

@section Head{
<link rel="stylesheet" href="~/css/forestOfSouls.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/environment.css" asp-append-version="true">
<script src="~/js/fetch.js"></script>
<script src="~/js/fetchForForestOfSouls .js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/labirint.js"></script>
<script src="~/js/heroIndicators.js"></script>
<script src="~/js/heroStatus.js"></script>
<script src="~/js/miracleShop.js"></script>
<script src="~/js/environment.js"></script>
}
<body class="maze">
    <div class="gameMenuIndent"></div>
    <div class="menu">
        <div class="indent"></div>
        <div class="heroIndicators">
        </div>
    </div>
    <div class="drawerSection">
        <div class="spanSection"></div>
        <div class="drawer">
        </div>
    </div>
</body>
</html>
