@model MazeViewModel

<!DOCTYPE html>
<html lang="en">


<h2>Укажите основные пораметры лабиринта</h2>

<form asp-action="BuildMaze" asp-controller="Maze" asp-antiforgery="true">
    <div>
        <div >
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name"/>
        </div>
        <div>
            <label asp-for="Width"></label>
            <input type="number" asp-for="Width" />
        </div>
        <div>
            <label asp-for="Height"></label>
            <input type="number" asp-for="Height" />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>
