.barrel {

    background-image: url('/image/environment/barrel.png');
}
.bat {
    background-image: url('/image/environment/bat.gif');
}
.bat2 {
    background-position-y: top;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/bat2.gif');
}
.blood {
    background-image: url('/image/environment/blood.gif');
}
.book {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/book.gif');
}
.bush {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,25px;
    background-image: url('/image/environment/bush.png');
}
.bush1 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,25px;
    background-image: url('/image/environment/bush1.png');
}
.bush2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,25px;
    background-image: url('/image/environment/bush2.png');
}
.cat {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/cat.gif');
}
.cat2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/cat2.gif');
}
.cat3 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/cat3.gif');
}
.cat4 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/cat4.gif');
}
.cat5 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/cat5.gif');
}
.cat6 {
    background-image: url('/image/environment/cat6.gif');
}
.cemetery {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 80px,30px;
    background-image: url('/image/environment/cemetery.gif');
}
.dog {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/dog.gif');
}
.dog2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/dog2.gif');
}
.dog3 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,30px;
    background-image: url('/image/environment/dog3.gif');
}
.fence {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 50px,25px;
    background-image: url('/image/environment/fence.png');
}
.fence2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,10px;
    background-image: url('/image/environment/fence2.png');
}
.fence3 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 50px,25px;
    background-image: url('/image/environment/fence3.png');
}
.flower {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower.png');
}
.flower1 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower1.png');
}
.flower2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower2.png');
}
.flower3 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower3.png');
}
.flower4 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower4.png');
}
.flower5 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower5.gif');
}
.flower6 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower6.gif');
}
.flower7 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower7.gif');
}
.flower8 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/flower8.gif');
}
.spaider {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,40px;
    background-image: url('/image/environment/spaider.gif');
}
.squirrel {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,40px;
    background-image: url('/image/environment/squirrel.gif');
}
.squirrel2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,40px;
    background-image: url('/image/environment/squirrel2.gif');
}
.stone {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone.png');
}
.stone1 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone1.png');
}
.stone2 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone2.png');
}
.stone3 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone3.png');
}
.stone4 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone4.png');
}
.stone5 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone5.png');
}
.stone6 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 30px,20px;
    background-image: url('/image/environment/stone6.png');
}
.stub {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,20px;
    background-image: url('/image/environment/stub.png');
}
.stub1 {
    background-position-y: bottom;
    background-position-x: center;
    background-size: 40px,20px;
    background-image: url('/image/environment/stub1.png');
}
.stub2 {
    background-position-y: bottom;
    background-position-x: right;
    background-size: 20px,20px;
    background-image: url('/image/environment/stub2.png');
}
.tree {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,80px;
    background-image: url('/image/environment/tree.gif');
}
.tree1 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,80px;
    background-image: url('/image/environment/tree1.gif');
}
.tree2 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 30px,40px;
    background-image: url('/image/environment/tree2.gif');
}
.tree3 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,80px;
    background-image: url('/image/environment/tree3.png');
}
.tree4 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,80px;
    background-image: url('/image/environment/tree4.png');
}
.tree5 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 30px,70px;
    background-image: url('/image/environment/tree5.png');
}
.tree6 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 40px,80px;
    background-image: url('/image/environment/tree6.png');
}
.tree7 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 50px,80px;
    background-image: url('/image/environment/tree7.png');
}
.tree8 {
    background-position-y: bottom;
    background-position-x: left;
    background-size: 50px,80px;
    background-image: url('/image/environment/tree8.png');
}