.drawerSection {
    display: flex;
    background-size: 150px 150px;
    background-image: url('/image/appBackground/ground11.jpg');
}
.Choice {
    background-position-y: center;
    background-position-x: center;
    background-size: 1200px 500px;
    background-repeat: no-repeat;
    background-image: url('/image/appBackground/shop.jpeg');
}
.indent {
    height: 10px;
}

.status {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
}

.top {
    background-image: url('/image/appBackground/фон.jpg');
    background-repeat: no-repeat;
}

.cell.Wall {
    background-size: 70px 70px;
    background-image: url('/image/maze/wall7.jpg')
}

.cell.Gate {
    background-image: url('/image/maze/castle.gif');
}

.cell.Teleport {
    background-size: 40px 40px;
    background-image: url('/image/maze/teleport4.gif');
}

.cell.Faun {
    background-image: url('/image/maze/Faun2.gif');
}
.cell.ForgottenKing {
    background-size: 60px 60px;
    background-image: url('/image/maze/ForgottenKing.gif');
}
.cell.Guard {
    background-size: 60px 50px;
    background-image: url('/image/maze/guard6.gif');
}
.cell.Portal {
    background-image: url('/image/maze/teleport7.gif');
}
.cell.SpiritOfTheForest {
    background-size: 60px 60px;
    background-image: url('/image/maze/SpiritOfTheForest.gif');
}
.cell.Wolf {
    background-size: 50px 40px;
    background-image: url('/image/maze/maokai.gif');
}
.cell.InvisibleTrap {
    background-image: url('/image/maze/lightning.webp');
}
.cell.Сhest {
    background-image: url('/image/maze/chest.gif');
}
.cell.Tornado {
    background-image: url('/image/maze/tornado-joypixels.gif');
}
