.drawerSection {
    display: flex;
    background-size: 300px,140px;
    background-image: url('/image/appBackground/ground2 (2).jpg');
}

.Choice {
    background-position-y: center;
    background-position-x: center;
    background-size: 1200px 500px;
    background-repeat: no-repeat;
    background-image: url('/image/appBackground/shop.jpeg');
    background-repeat: no-repeat;
}

.indent {
    height: 10px;
}

.status {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
}

.top {
    background-image: url('/image/appBackground/фон6.jpg');
    background-repeat: no-repeat;
}

.cell.Wall {
    background-size: 81px 80px;
    background-image: url('/image/appBackground/wall3.png');
}

.cell.DamnEarth {
    /*background-size: 81px 40px;
        background-image: url('/image/appBackground/dround2.png');*/
}

.cell.Gate {
    background-size: 60px 60px;
    background-image: url('/image/maze/castle2.png');
}

.cell.Teleport {
    background-size: 70px 80px;
    background-image: url('/image/maze/teleport2.gif');
}

.cell.Assassin {
    background-size: 40px 50px;
    background-image: url('/image/maze/Assassin.gif');
}

.cell.Champion {
    background-size: 60px,55px;
    background-image: url('/image/maze/champion2.gif');
}

.cell.Elf {
    background-size: 50px 60px;
    background-image: url('/image/maze/elf.gif');
}

.cell.ExperiencedWarrior {
    background-size: 50px 50px;
    background-image: url('/image/maze/ExperiencedWarrior (2).gif');
}

.cell.SwampCreature {
    background-size: 45px 50px;
    background-image: url('/image/maze/SwampCreature.gif');
}

.cell.Robot {
    background-size: 50px 40px;
    background-image: url('/image/maze/bot.gif');
}


.status.Hp {
    background-image: url('/image/status/hp1.gif');
}

.status.Gold {
    background-image: url('/image/maze/coin1.gif');
}

.status.Damage {
    background-size: 90px,90px;
    background-image: url('/image/status/sword.gif');
}

.status.Armor {
    background-size: 50px,50px;
    background-image: url('/image/status/sheald.gif');
}

.status.HasGiganHammer {
    background-size: 60px,60px;
    background-image: url('/image/status/hammer.gif');
}

.status.Invisible {
    background-size: 50px,50px;
    background-image: url('/image/status/stealth.gif');
}

.status.CanJump {
    background-size: 70px,150px;
    background-image: url('/image/status/flying.gif');
}

.status {
    width: 100px;
    height: 70px;
    background-size: 50px,50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.heroStatus {
    display: flex;
}

.heroIndicators {
}
