.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.status {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: cover;
}

.cell.Wall {
        background-image: url('/image/maze/wall.png');
 }

.cell.GoldHeap {
        background-image: url('/image/maze/gold.png');
}

.cell.Ground {
        background-image: url('/image/maze/ground.png');
}

.cell.Сhest {
        background-image: url('/image/maze/loot.png');
 }

.cell.Guard {
        background-image: url('/image/maze/guard.png');
}
.cell.CellWithHero {
        background-image: url('/image/maze/сellsWithHero.jpg');
}

.cell.Gate {
        background-image: url('/image/maze/gate.jpg');
}

.cell.Trap {
        background-image: url('/image/maze/trap.jpg');
}
.cell.BrokenTrap {
        background-image: url('/image/maze/brokenTrap.png');
}
.status.Hp {
    background-image: url('/image/status/hp.jpg');
}
.status.Gold {
    background-image: url('/image/status/gold.jpg');
}
.heroStatus{
    display:flex;
}