.drawerSection {
    display: flex;
    background-size: 50px 50px;
    background-image: url('/image/maze/ground10.gif');
}
.Choice {
    background-position-y: center;
    background-position-x: center;
    background-size: 1200px 500px;
    background-repeat: no-repeat;
    background-image: url('/image/appBackground/shop.jpeg');
}
.indent {
    height: 10px;
}

.status {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
}

.top {
    background-image: url('/image/appBackground/фон.jpg');
    background-repeat: no-repeat;
}

.cell.Wall {
    background-size: 60px 60px;
    background-image: url('/image/maze/wall9.jpg');
}

.cell.Gate {
    background-image: url('/image/maze/castle.gif');
}

.cell.Teleport {
    background-image: url('/image/maze/teleport.gif');
}

.cell.DethBoss {
    background-size: 30px 40px;
    background-image: url('/image/maze/brokenTrap.png');
}


.cell.Boss {
    background-size: 60px 50px;
    background-image: url('/image/maze/test.gif');
}

.cell.Trap {
    background-size: 60px 60px;
    background-image: url('/image/maze/trap.gif');
}

.cell.BrokenTrap {
    background-size: 30px 40px;
    background-image: url('/image/maze/brokenTrap.png');
}

.cell.Legionary {
    background-size: 60px 50px;
    background-image: url('/image/maze/orc.gif');
}

.cell.Killer {
    background-position-y:top;
    background-size: 60px 50px;
    background-image: url('/image/maze/troll.gif');
}
.cell.Сhest {
    background-image: url('/image/maze/chest.gif');
}
