.cell {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-size: cover;
}

.status {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: cover;
}

.cell.Wall {
        background-image: url('/image/maze/wall.png');
 }

.cell.GoldHeap {
    background-image: url('/image/maze/gold.jpg');
}

.cell.Ground {
        background-image: url('/image/maze/ground.png');
}

.cell.Сhest {
        background-image: url('/image/maze/loot.png');
 }

.cell.Boss {
    background-image: url('/image/maze/boss.jpg');
}
.cell.CellWithHero {
    background-image: url('/image/maze/hero.jpg');
}

.cell.Gate {
    background-image: url('/image/maze/gate.jpg');
}
.cell.Trap {
        background-image: url('/image/maze/trap.jpg');
}
.cell.BrokenTrap {
        background-image: url('/image/maze/brokenTrap.png');
}
.cell.Legionary {
    background-image: url('/image/maze/goblin.jpg');
}
.cell.Rip {
    background-image: url('/image/maze/Rip.webp');
}
.status.Hp {
    background-image: url('/image/status/hp.jpg');
}
.status.Gold {
    width: 20px;
    height: 20px;
    background-image: url('/image/status/gold.jpg');
}
.heroStatus{
    display:flex;
}
.status.Damage {
    background-image: url('/image/status/damage.jpg');
}
.status.Armor {
    background-image: url('/image/status/armor.jpg');
}