html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Choice{
    display:none;
}
.Choice1{
    display:flex;
}
.paginator-button {
    color: #15AD72;
    border-color: #F4F4F4;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 11px 11px;
    height: 40.3929px;
    background-clip: padding-box;
    font-weight: normal;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    box-shadow: 0,0,0,0;
    border-block-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
