html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Choice{
    display:none;
}
.Choice1{
    display:flex;
}
.paginator-button {
    color: #15AD72;
    border-color: #F4F4F4;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 11px 11px;
    height: 40.3929px;
    background-clip: padding-box;
    font-weight: normal;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    box-shadow: 0,0,0,0;
    border-block-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
.heroStatus {
    margin-left: 170px;
    /*background-position-y: bottom;
    background-position-x: left;
    background-size: 953px 140px;
    background-repeat: no-repeat;
    background-image: url('/image/appBackground/ui1.png');*/
}
.text {
    text-align: center;
    font-family: "Herculanum", fantasy;
}
.status {
    height: 100px;
    width: 100px;
    display: block;
}
.statusIconForMyHp{
    margin-left:3px;
}

.statusForAbilitiPower{
    margin-left:150px;
    display:flex;
}
.shopMenu {
    margin-left: 200px;
}
.shopText{
    color:azure;
}
.end {
    margin-left: 40px;
}
.gameMenuIndent {
    height: 0px;
}